{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}

    {{ form_start(formArticle) }}
    {{ form_row(formArticle.searchField) }}
    <button type="submit" name="btnSearch">Rechercher</button>
    {{ form_end(formArticle) }}

    <h1>All articles from article's table : </h1>

    {% for category in categories %}
        <div class="list-group">
            <h2>{{ category.name }}</h2>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}

    <a class="btn btn-secondary" href="{{ path('app_index') }}" role="button">Back to homepage</a>
{% endblock %}